body{
          margin: 0;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          background-color: beige;

}

.container{
          background-color: rgb(175, 230, 212);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          text-align: center;
          margin: 0 auto;
          max-width: 600px;
          border-radius: 10px;
          padding: 10px;
          margin-top: 50px;

}

form{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
}

form input[type="text"]{
          padding: 10px;
          border: none;
          outline: none;
          font-size: 18px;
          width: 60%;
          background-color: beige;
}

form input[type="submit"]{
          background-color: rgb(145, 201, 145);
          border: 0;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 18px;
          cursor: pointer;
          outline: none;
          transition: background-color 0.3s ease;
          transition: color 0.3s ease;
}

form input[type="submit"]:hover{
          background-color: rgb(39, 156, 39);
          color: #fff;
}

.icon img{
          width: 100px;
          height: 100px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
}

.temperature{
          font-size: 42px;
          font-weight: bold;
          margin: 20px 0;
}

.discription{
          font-size: 24px;
          margin-bottom: 20px;
}

.details{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
}

.details > div{
          padding: 20px;
          background-color: beige;
          margin: 10px;
          flex: 1;
          border-radius: 5px;
          text-align: center;
          min-height: 45px;
}

@media (max-width: 750px){
          form {
                    flex-direction: column;
          }

          form input[type="text"]{
                    width: 100%;
                    margin-bottom: 10px;
          }
}

